{% extends "textsearch/header.html" %}

{% block content %}

<form method="GET">
    <!-- Question: <input type="text" name="search"><br/> -->
    Search: <input type="text" name="name"> <input type="submit" value="Submit" />
</form><br/><br/>


<body>
 {% for key,value in questions.items %} <br><br> <p> <b> {{key}} </b> </p> <p> {% for val in value %} <br> {{ val }}  {% endfor %} </p> {% endfor %}
</body>

<!-- {% for question in questions %}
<p> <b>{{question}} </b></p>
{% endfor %} -->

{% endblock %}
