<!DOCTYPE html>
<html lang="en">

<head>
	<title>collaboration search</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'textsearch/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
		h3 {
		    font-size: 1.875em;
			font-family:Courier New;
			font-color:green;
		}

	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<a href="/"><img src="{% static 'textsearch/img/collab.png' %}" class="responsive-img" style='max-height:100px;' alt="face"></a>
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br><br>
				  <h3> collaboration search</h3>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<!-- <li><a href='/blog/'>Blog</a></li> -->
				<!-- <li><a href='/ngos/'>Authors</a></li> -->
				<li><a href='/textsearch/'>Authors lookup</a></li>
				<li><a href='/papersearch/'>Papers lookup</a></li>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="/contact" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
			<!-- <p><a href="/contact" target="blank">Contact</a> | <a href="https://in.linkedin.com/in/suhansanu-kumar" target="blank">LinkedIn</a> | <a href="https://twitter.com/Suhansanu" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p> -->
		</div>
	</footer>

</body>

</html>
