{% extends "textsearch/header.html" %}

{% block content %}
<b>Perform collaboration search in Computer Science</b> </br> </br>

<p> Enter your abstract, text, idea, proposal or any textual context to search for fellow esearchers to work with!</p> </br> </br></br>

<a href = 'textsearch/'> Search for relevant authors </a></br></br>
<a href = 'papersearch/'> Search for relevant papers </a>

{% endblock %}
