{% extends "textsearch/header.html" %}

{% block content %}

<form method="GET">
    <label for="your_text">Input abstract (text): </label>
    <input id="your_text" type="text" name="your_text">
    <input type="submit" value="OK">
</form>



{% endblock %}
