{% extends "textsearch/header.html" %}

{% block content %}

<form method="GET">
    <!-- Question: <input type="text" name="search"><br/> -->
    <!-- Search: <input type="text" name="name" size="100"> <input type="submit" value="Submit" /> </br> </br> -->

    <div class="container">
        <div class="row">
               <div id="custom-search-input">
                    <div class="input-group col-md-11">
                        <input type="text" class="  search-query form-control" placeholder="Search" name="name"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
        </div>
    </div>

    <div class="table-responsive">

        <table class= "table">
          <tr>
            <td><input type="radio" name="querytp" value="bm25" checked> BM 25</td>
            <td><input type="radio" name="querytp" value="tfidf"> TF IDF</td>
            <td> </td>
        </tr>
        </table>
    </div>


	<!-- <input type="radio" name="querytp" value="bm25" checked> BM 25<br>
    <input type="radio" name="querytp" value="tfidf"> TF IDF <br>  </br> </br>

	<input type="radio" name="pathsim" value="PA" checked> PA pathsim<br>
    <input type="radio" name="pathsim" value="PAPA"> PAPA hetsim <br>
	<input type="radio" name="pathsim" value="PVPA"> PVPA hetsim<br> -->

</form><br/>


<body>
 {% for key,value in questions.items %} <br> <p> <b> {{key}} </b> </p> <p> {% for val in value %} <br> {{ val }}  {% endfor %} </p> {% endfor %}
</body>

<!-- {% for question in questions %}
<p> <b>{{question}} </b></p>
{% endfor %} -->

{% endblock %}
